.App {
    /* Background image */
    background-image: url(./ping-pong-table-overvhead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 50px solid #FFFFFF;         /* hack to give background image an inset margin.  see: https://stackoverflow.com/questions/7961589/positioning-background-image-adding-padding*/
}