.App {
  min-height: 100vh;

  /* Background image */
  background-image: url(./ping-pong-table-overvhead.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  text-align: center;
}