body {
  /* Background image */
  background-image: url(./ping-pong-table-overvhead.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  text-align: center;

  margin: 0;
}

body #react-root {
  height: 100%;
}